:root {
  /* color palette */
  --slate-50: #f9fafb;
  --slate-100: #f3f4f6;
  --slate-200: #e5e7eb;
  --slate-300: #d1d5db;
  --slate-400: #9ca3af;
  --slate-500: #6b7280;
  --slate-600: #4b5563;
  --slate-700: #374151;
  --slate-800: #1f2937;
  --slate-900: #111827;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

svg {
  height: 20px;
  width: 20px;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--slate-900);
}

.container {
  text-align: center;
  height: fit-content;
  margin-inline: auto;
}

.container h1 {
  font-size: 2.3rem;
  color: var(--slate-100);
  margin-top: 1em;
}

.container p {
  color: var(--slate-300);
  margin-top: 0.5em;
}

.form-container {
  background-color: var(--slate-100);
  margin-top: 2em;
  padding: 2em;
  border-radius: 30px 30px 0 0;
}

form {
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: center;
  width: 100%;
  max-width: 500px;
  margin-inline: auto;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.2em;
  width: 100%;
}

/* label {
    font-weight: 500;
} */

.form-group input {
  width: 100%;
  height: 45px;
  border-radius: 10px;
  border: 1px solid var(--slate-400);
  padding: 0 1em;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.use-method {
  font-size: 0.9rem;
}

::placeholder,
#sign-in,
.form-group input {
  font-family: "Poppins", sans-serif;
}

.helper {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  font-size: 0.9rem;
  margin-top: -1em;
  margin-bottom: 1em;
}

.remember > * {
  cursor: pointer;
}

.remember {
  display: flex;
  align-items: center;
  padding-left: 25px;
  position: relative;
  cursor: pointer;
}

.remember input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 4px;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: var(--slate-100);
  border-radius: 50%;
  border: 2px solid var(--slate-900);
}

.remember input:checked + .checkmark {
  background-color: var(--slate-900);
}

.sign-in {
  width: 100%;
}

.account {
  font-size: 0.9rem;
}

#sign-in,
#sign-up {
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  width: 100%;
  background-color: var(--slate-900);
  color: var(--slate-100);
  border: 1px solid var(--slate-900);
  border-radius: 10px;
  padding: 0.8em 0;
  cursor: pointer;

  transition: background-color 100ms ease;
}

#sign-in:hover,
#sign-up:hover {
  background-color: var(--slate-100);
  color: var(--slate-900);
  /* border: 1px solid var(--slate-900); */
}

.or {
  color: var(--slate-700);
  display: inline-flex;
  align-items: center;
  gap: 1em;
}

.or hr {
  height: 0;
  width: 100px;
  border-radius: 50%;
  color: var(--slate-200);
  /* color: black; */
}

.socials {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.social-options {
  width: 48%;
}

.social-options a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  text-decoration: none;
  color: var(--slate-800);

  padding: 0.5em 0;
  border: 1px solid var(--slate-400);
  border-radius: 10px;
}

.social-options span {
  font-size: 0.9rem;
}

.social-options a:hover {
  border: transparent;
  color: var(--slate-100);
  background-color: var(--slate-900);
}

.social-options a:hover .apple {
  fill: var(--slate-100);
}
