:root {
  /* color palette */
  --slate-50: #f9fafb;
  --slate-100: #f3f4f6;
  --slate-200: #e5e7eb;
  --slate-300: #d1d5db;
  --slate-400: #9ca3af;
  --slate-500: #6b7280;
  --slate-600: #4b5563;
  --slate-700: #374151;
  --slate-800: #1f2937;
  --slate-900: #111827;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--slate-100);
  display: grid;
  place-items: center;
  height: 100vh;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  margin-inline: 2em;
}

h1 {
  color: var(--slate-900);
  font-weight: normal;
}

.speed {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.value {
  color: var(--slate-900);
  font-size: 4rem;
  font-weight: bold;
  line-height: 0.6;
}

.unit {
  color: var(--slate-900);
  margin-top: 1em;
}

.notification {
  font-family: 'Poppins', sans-serif;
  padding: 1em;
  color: var(--slate-100);
  background-color: var(--slate-900);
  border: 1px solid var(--slate-900);
  border-radius: 10px;
  cursor: pointer;
}

.notification:hover {
  color: var(--slate-900);
  background-color: var(--slate-100);
}

.toast {
  display: none;
  align-items: center;
  padding: 10px;
  border-radius: 4px;
  color: var(--slate-900);
  z-index: 9999;
}

.warning-toast {
  background-color: #ff9800;
  border-radius: 10px;
}

.toast-image {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.toast-message {
  margin-right: 10px;
  font-size: 0.9rem;
}

.toast-close-button {
  background: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  padding: 0.3em;
  border-radius: 50%;
  aspect-ratio: 1;
}

.toast-close-button:hover {
  background-color: rgba(2, 15, 32, 0.315);
}
