*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  place-items: center;
  height: 100vh;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

h1 {
  font-weight: normal;
}

.speed {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.value {
  font-size: 4rem;
  font-weight: bold;
  line-height: 0.6;
}

.unit {
  margin-top: 1em;
}

.warning {
  color: red;
  background-color: rgb(255, 225, 92);
  padding: 0.5em 1em;
  border-radius: 50px;
  display: none;
}

.notification {
  font-family: 'Poppins', sans-serif;
  padding: 1em;
  background-color: black;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

.notification:hover {
  background-color: rgba(0, 0, 0, 0.815);
}