*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.speedometer {
  position: relative;
  width: 400px;
  border-radius: 50%;
  aspect-ratio: 1;
  background-color: rgb(21, 116, 148);
}

.big-needles {
  --size: 2px;
  --offset: 160px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: var(--size);
  height: 25px;
  transform-origin: center bottom;
  //   aspect-ratio: 1;
    border-radius: 50%;
  background-color: whitesmoke;

  transform: translate(
    calc(cos(var(--degrees)) * var(--offset)),
    calc(sin(var(--degrees)) * var(--offset))
  );
}
 
$total: 15;
@for $i from 1 through $total {
  .big-needles:nth-of-type(#{$i}) {
    --degrees: #{$i} * 360deg / #{$total};
  }
}


// sass HomePage.scss HomePage.css
