*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* .box {
  width: 350px;
  height: 350px;
  border: 2px solid gray;
  margin-inline: auto;
}

#speedometer {
  width: 250px;
  height: 250px;
  border: 2px solid gray;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 5px gray; 
} */

.speedometer-container {
  width: 300px;
  height: 300px;
  border: 2px solid gray;
  border-radius: 50%;
  margin-inline: auto;
  position: relative;
}

.center-point {
  width: 15px;
  height: 15px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: 8;
}

.speedometer-scale {
  width: 1.5px;
  height: 280px;
  background-color: gray;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  transform: rotate(90deg);
}

.scale-1 {
  transform: rotate(90deg);
}

.scale-2 {
  transform: rotate(66deg);
}

.scale-3 {
  transform: rotate(42deg);
}

.scale-4 {
  transform: rotate(18deg);
}

.scale-5 {
  transform: rotate(-6deg);
}

.scale-6 {
  transform: rotate(-30deg);
}

.scale-7 {
  transform: rotate(-54deg);
}

.scale-8 {
  transform: rotate(-78deg);
}

.scale-9 {
  transform: rotate(-102deg);
}

.scale-10 {
  transform: rotate(-126deg);
}

.scale-11 {
  transform: rotate(-150deg);
}

.scale-12 {
  transform: rotate(-174deg);
}

.scale-13 {
  transform: rotate(-198deg);
}

.scale-14 {
  transform: rotate(-222deg);
}

.scale-15 {
  transform: rotate(-246deg);
}

.speedometer-center-hide {
  width: 250px;
  height: 250px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: 5;
}

.speedometer-bottom-hide {
  width: 300px;
  height: 300px;
  background-color: white;
  position: absolute;
  z-index: 15;
  top: 55%;
  left: 50%;
  translate: -50% 0;
  /* transform: rotate(-45deg); */
  /* border-top: 1px solid; */
}

.arrow-container {
  width: 160px;
  height: 160px;
  background: transparent;
  position: absolute;
  z-index: 20;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

.arrow-wrapper {
  width: 160px;
  height: 160px;
  background-color: transparent;
  position: relative;
  transition: all 400ms ease;
}

.arrow {
  width: 80px;
  height: 4px;
  background-color: purple;
  position: absolute;
  top: 49.5%;
  left: 50%;
  translate: -100% 0%;
}

/* .arrow-wrapper {
  width: 160px;
  height: 160px;
  background-color: transparent;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 400ms ease;
}

.arrow {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 100px solid purple;
  position: absolute;
  left: -50%;
  translate: 50% 0;
  transform: rotate(-45deg);
  border-right-top-radius: 10px;
  border-right-bottom-radius: 10px;
  margin: auto;
} */



/* .arrow {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 100px solid purple;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
} */

.speed-0 {
  transform: rotate(0deg);
}

.speed-10 {
  transform: rotate(12deg);
}

.speed-20 {
  transform: rotate(24deg);
}

.speed-30 {
  transform: rotate(36deg);
}

.speed-40 {
  transform: rotate(48deg);
}

.speed-50 {
  transform: rotate(60deg);
}

.speed-60 {
  transform: rotate(72deg);
}

.speed-70 {
  transform: rotate(84deg);
}

.speed-80 {
  transform: rotate(96deg);
}

.speed-90 {
  transform: rotate(108deg);
}

.speed-100 {
  transform: rotate(120deg);
}

.speed-110 {
  transform: rotate(132deg);
}

.speed-120 {
  transform: rotate(144deg);
}

.speed-130 {
  transform: rotate(156deg);
}

.speed-140 {
  transform: rotate(168deg);
}

.speed-150 {
  transform: rotate(180deg);
}

.speedometer-text .dynamic {
  /* background: red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 70%;
  left: 50%;
  translate: -50% -50%;
  z-index: 30;
}

.label {
  position: absolute;
  font-size: 15px;
  font-weight: bold;
  color: black;
  z-index: 50;
}

.label-0 {
  top: 55%;
  left: 12%;
  transform: translate(-50%, -110%);
}

.label-20 {
  top: 34%;
  left: 17%;
  transform: translate(-50%, -50%);
}

.label-40 {
  top: 23%;
  left: 25%;
  transform: translate(-50%, -50%);
}

.label-60 {
  top: 15%;
  left: 38%;
  transform: translate(-50%, -50%);
}

.label-80 {
  top: 14%;
  left: 54%;
  transform: translate(-50%, -50%);
}

.label-100 {
  top: 14.5%;
  left: 68%;
  transform: translate(-50%, 0%);
}

.label-120 {
  top: 28%;
  left: 80%;
  transform: translate(-50%, -50%);
}

.label-140 {
  top: 42%;
  left: 85%;
  transform: translate(-50%, -50%);
}