:root {
  /* color palette */
  --slate-50: #f9fafb;
  --slate-100: #f3f4f6;
  --slate-200: #e5e7eb;
  --slate-300: #d1d5db;
  --slate-400: #9ca3af;
  --slate-500: #6b7280;
  --slate-600: #4b5563;
  --slate-700: #374151;
  --slate-800: #1f2937;
  --slate-900: #111827;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--slate-100);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.5em;
  height: 100vh;
  width: 100%;
  max-width: 1200px;
  margin-inline: auto;
  text-align: center;
}

img {
  width: 50%;
  max-width: 250px;
}

h1 {
  text-align: center;
  line-height: 1.3;
  width: 95%;
  max-width: 500px;
}

.button {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  width: 80%;
  max-width: 500px;
}

button {
  font-family: "Poppins", sans-serif;
  padding: 1em 0;
  background-color: var(--slate-900);
  color: var(--slate-100);
  border: 1px solid transparent;
  border-radius: 10px;
  cursor: pointer;

  transition: background-color 50ms ease;
}

button:hover {
  color: var(--slate-900);
  background-color: var(--slate-100);
  border-color: var(--slate-900);
}

.policy {
  margin-top: 2em;
  width: 100%;
}

.policy span {
  display: block;
  font-size: 0.8rem;
}
